$bcl-base-size: 8px;
$bcl-space-xxs: $bcl-base-size / 4; // 2
$bcl-space-xs: $bcl-base-size / 2;  // 4
$bcl-space-sm: $bcl-base-size;      // 8
$bcl-space-md: $bcl-base-size * 2;  // 16
$bcl-space-lg: $bcl-base-size * 3;  // 24
$bcl-space-xl: $bcl-base-size * 4;  // 32
$bcl-space-xxl: $bcl-base-size * 6; // 48

$bcl-spacing-sizes: (
    none: 0,
    xxs: $bcl-space-xxs,
    xs: $bcl-space-xs,
    sm: $bcl-space-sm,
    md: $bcl-space-md,
    lg: $bcl-space-lg,
    xl: $bcl-space-xl,
    xxl: $bcl-space-xxl,
);
