{
    "trailingComma": "es5",
    "singleQuote": true,
    "printWidth": 100,
    "semi": true,
    "tabWidth": 4,
    "bracketSpacing": true,
    "jsxSingleQuote": true,
    "jsxBracketSameLine": false,
    "arrowParens": "always",
    "overrides": [
        {
            "files": ["webpack.config.js", ".travis.yml", ".babelrc"],
            "excludeFiles": [],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
