.bcl-Button {
    $bcl-button-color-dark: get-color(blue, core);
    $bcl-button-color-disabled: #999;
    $bcl-button-color-light: get-color(white, core);

    button {
        // reset default button styles
        border: none;
        padding: 0;
        margin: 0;

        // button styles
        position: relative;
        display: block;
        font-size: 1rem;
        @include bcl-space-inset(sm, tb);
        @include bcl-space-inset(md, lr);
        border-radius: 2rem;
        background: $bcl-button-color-light;
        color: $bcl-button-color-dark;
        border: 0.2rem solid $bcl-button-color-dark;
        // font-weight: bold;
        // color: black;

        // min size for mobile devices
        min-width: 1cm;
        min-height: 1cm;

        cursor: pointer;

        &:disabled {
            cursor: not-allowed;
            border-color: $bcl-button-color-disabled;

            /* see https://www.bram.us/2016/10/06/emoji-silhouettes-and-emoji-outlines-with-css/ */
            color: transparent;
            text-shadow: 0 0 0 $bcl-button-color-disabled;
        }

        &:active {
            top: 0.2rem;
            box-shadow: none;
        }

        &:focus {
            outline: none;
        }

        &:active:focus {
            top: 0.2rem;
            transform: transform3d(0, 1, 0);
            transition: all 1s ease;
        }

        &:hover {
            box-shadow: 0px 0px 0px 0.1rem get-color(blue, core);
            transition: box-shadow 200ms ease;
        }
    }
}
