@mixin bcl-space-stack($size, $excludeLast: true) {
    $stack: get-map-value($bcl-spacing-sizes, $size);
    margin-bottom: $stack;

    @if $excludeLast == false {
        &:last-child {
            margin-bottom: 0;
        }
    }
}